########################
# node.js / npm
########################
node_modules
npm-debug.log

########################
# misc / editors
########################
*~
*#
.*.swp
.DS_STORE
.netbeans
nbproject
.idea/workspace.xml

########################
# local config
########################
app/config.js
